.homeBackground {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

.gotLogoContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.gotLogoDesktop {
    display: block;
    max-width: 800px;
    height:fit-content;
}

.gotLogoMobile {
    display: none;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.optionBackground {
    background-image: url("../../assets/images/1260061.jpg");
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: #f1f1f1;
    letter-spacing: 2px;
    font-size: 60px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.optionBoxesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10em;
    flex-wrap: wrap;
}
.optionBox {
    display: flex;
    justify-content: center;
    min-height: 600px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 1000px;
    overflow: hidden;
    flex: 40%;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.optionBoxImage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    min-width: 600px;
    transition: transform 0.5s;
    display: flex;
}

.optionBoxImage:hover {
    transform: scale3d(1.08, 1.08, 0.5);
}

.optionBoxTitle {
    color: white;
    letter-spacing: 4px;
    font-size: 70px;
    align-self: center;
    justify-content: center;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.8);
}

.optionBoxTitle:hover {
    font-size: 100px;
    color: white;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.8);
    transform: scale3d(1.006, 1.006, 1);
}

.link {
    cursor: pointer;

    position: relative;
    white-space: nowrap;
    color: var(--color-text);
}

.link span {
    color: white;
    font-size: 70px;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: "";
    /* show by default */
}

.linkElara {
    font-size: 1.375rem;
}

.linkElara::before {
    transform-origin: 50% 100%;
    transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(
        0% 0%,
        0% 100%,
        0 100%,
        0 0,
        100% 0,
        100% 100%,
        0 100%,
        0 100%,
        100% 100%,
        100% 0%
    );
}

.linkElara:hover::before {
    transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
    clip-path: polygon(
        0% 0%,
        0% 100%,
        50% 100%,
        50% 0,
        50% 0,
        50% 100%,
        50% 100%,
        0 100%,
        100% 100%,
        100% 0%
    );
}

.linkElara span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.linkElara:hover span {
    transform: translate3d(0, -2px, 0);
}

@media screen and (min-width: 481px) {
    .gotLogoDesktop {
        display: block;
    }
}
@media screen and (max-width: 800px) {
    .gotLogoMobile {
        display: block;
        

    }
    .gotLogoDesktop {
        display: none;
    }
}

.whiteArrowContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

.whiteArrowContainer a span {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom:0;
    margin-bottom:80px;
    width: 80px;
    height: 80px;
    border-left: 3px solid #fff;
    border-bottom:3px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}
@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}
