@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

h1,
p {
    font-family: "Montserrat", sans-serif;
}



.charactersPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-image: url("../../assets/images/targaryen_background.jpg");
    width: 100%;
     background-attachment: fixed;


}


.charactersInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
    width:100%;

}

.characterHorizontalScrollContainer {
    margin-top:80px;
}

.characterTextContainer {
    display:flex;
    flex-direction:column;
    justify-content: center;
    width:100%;
    min-width:55%;
    float:right;
    height:auto;
    flex:1;
    padding:40px;
}

.characterDescription {
    color: white;
    font-size: larger;
    padding: 10px;


}
.characterImageContainer {
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    flex:1;
    height:auto;
}


.characterImage {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.characterName {
    color: white;
    font-size: 80px;
    text-transform: uppercase;
    z-index: 2;
    margin-bottom: 70px;
    display: inline-block;
}

.characterTitle {
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    z-index: 2;
    margin-bottom: 70px;
}


